.lge {
    height:128px;width:128px;display:inline-block;background-size:100%
}
.std {
    height:64px;width:64px;display:inline-block;background-size:100%
}
.mid {
    height:48px;width:48px;display:inline-block;background-size:100%
}
.mini {
    height:32px;width:32px;display:inline-block;background-size:100%
}
.tiny {
    height:24px;width:24px;display:inline-block;background-size:100%
}
.milli {
    height:16px;width:16px;display:inline-block;background-size:100%
}

.disp {
    width:100%;
    display:inline-block
}
