script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4303718030754959" data-ad-slot="3987105621" data-ad-format="auto")
script.
    (adsbygoogle = window.adsbygoogle || []).push({});
