h1 매너 플레이 시스템 기획의 원칙 - 제재
p 저희는 제재가 개선을 유도하도록 설계되었을 때 가장 효과적이라고 생각합니다. 그렇지 않으면 근본 원인이 아니라 증상에 대한 접근에 불과하기 때문이죠. 쓰레기통이 넘친다고 벽으로 덮어 버리면 당분간은 보이지 않겠지만, 냄새는 사라지지 않을 뿐더러 그런 식으론 집을 깨끗하게 치웠다고 할 수 없으니까요.
p 소환사 여러분,
p 매너 플레이 시스템에 대한 개발자 노트, 그 마지막 시간입니다. 이전 게시물에서 보상 시스템을 살펴보았고, 오늘은 제재 부분을 살펴보도록 하겠습니다. 물론 제재는 플레이어의 부정적인 행동에 대한 가장 직관적인 대처 방법이지만, 매우 한정적인 상황에서만 제재를 활용한다는 것이 저희 방침입니다. 해당 플레이어가 제재 받을 만한 상황이라고 판단할 근거가 매우 확실한 경우(오판 확률 1% 미만)에만 전면적인 제재를 가합니다.
p 그 외의 다른 경우, 저희는 제재에 앞서 개선이 유도되어야 한다고 생각합니다. 오늘은 저희 개발자 Drevarius와 함께 채팅 제한의 예를 들어 이러한 원칙이 실제에 어떻게 적용되는지 살펴보기로 하고, 그 전에 먼저 Lyte가 비매너 플레이어는 비매너 플레이어끼리 게임 하도록 하는 ‘격리 시스템’의 핵심적인 문제점을 분석하고 랭크 게임 제한에는 같은 문제가 따르지 않는지 말씀드릴 것입니다.
p 본격적인 내용을 살펴보기 전에 지금까지 여러 번 말씀드렸던 저희 매너 플레이 시스템의 가장 기본이 되는 원칙을 다시 한 번 말씀드리고자 합니다. 한 번에 모든 문제를 해결할 수 있는 마술 같은 해결책은 없습니다. 저희는 제재, 개선, 보상을 잘 결합하여 최선의 방법을 찾아내기 위해 노력하고 있습니다.
blockquote
    p 왜 ‘격리 시스템’은 모두에게 좋은 해결책이 아닐까요?
    footer Lyte
p 비매너 플레이어들을 한데 모아서 자기들끼리 게임하게 하는 ‘격리 시스템’은 비매너 문제에 대한 그럴 듯하고 솔깃한 해결책입니다. 하지만 궁극적으로는 부정적인 상황을 더욱 부정적으로 만드는 안일한 방책일 뿐입니다. 플레이어가 게임에서 비매너 행위에 노출될수록 특정 게임을 완전히 그만둘 확률이 높아지는데, 그 확률이 실제 최대 320%까지 상승합니다.
p 후순위 대기열을 적용하는 것이 효과적인 매우 한정된 상황도 있습니다. 그렇지만, 플레이 매너에 관련된 모든 문제에 이를 적용할 수는 없습니다. 영어 속담에 ‘망치만 들고 있으면 모든 게 못으로 보인다’는 말이 있는데, 여기에 그 말이 딱 어울립니다.
p 플레이어가 자신이 후순위 대기열로 떨어진 이유를 정확하게 알 수 있다면, 제한 없는 보통 대기열로 돌아가는 방법도 정확하게 알 수 있습니다. (즉 행동의 개선이 가능합니다.)
p 리그 오브 레전드에도 탈주자 단속 시스템에서 후순위 대기열 제재를 활용합니다. 하지만 자신의 팀원을 버린 탈주라는 것을 누구나 알 수 있는 이런 명백한 상황에서 조차, 저희는 우선 개선 효과를 높이기 위해 노력합니다. 
p 그러나 이러한 행위가 상습적인 패턴으로 나타날 때에는, 후순위 대기열로 분류되는 제재를 가하여 게임을 검색하기 전 일정 시간을 강제로 기다리도록 합니다.
p 랭크 게임 제한의 경우도 살펴보겠습니다. 이 시스템이 적용된 지역에선, 비매너 플레이어를 랭크 게임에서 일반 게임으로 옮겨서 부르는 이름만 다를 뿐 격리 시스템을 활용하고 있는 것 아니냐는 우려를 나타내시는 플레이어 여러분도 있었습니다. 하지만 랭크 게임 제한이 경우가 다른 가장 중요한 이유는, 일반 게임 플레이어의 압도적인 다수는 여전히 긍정적인 매너 플레이어 또는 보통 플레이어라는 점입니다. 소수의 비매너 플레이어를 조금씩, 신중하게, 또한 채팅 제한이 적용된 상태로 일반 게임으로 옮겨놓는다고 해서 다른 플레이어에게 큰 불편이 초래되지 않으며, 경쟁심이 누그러진 환경에서 게임을 즐기며 제재를 받은 플레이어들도 게임 매너를 개선할 수 있습니다. 랭크 게임 제한은 현재 북미와 유럽 지역에 적용되어 있으며 추후 더 많은 지역에 이 시스템을 구축해 적용할 수 있도록 노력하고 있습니다.
p 탈주자 단속 시스템과 랭크 게임 제한 시스템 모두 사회적 압력을 도구로 삼아 매너 개선을 돕습니다. 지금까지 저희가 관찰한 바로는, 부정적인 행위를 긍정적인 영향력으로 둘러싸는 방법이 게임 플레이 경험을 개선하고 플레이어 커뮤니티가 적극적으로 비매너 행위를 배척할 수 있도록 한다는 측면에서 가장 좋은 결과를 낳았습니다. 이제 Drevarius와 함께 채팅 제한이 저희 제재 원칙을 어떻게 반영하는지 살펴보겠습니다.
blockquote
    p 채팅을 자원 관리하듯이 관리하면  어떻게 게임 매너가 개선되나요?
    footer Drevarius
p 소환사 여러분, 반갑습니다. Drevarius입니다. 채팅 제한 시스템을 설계한 팀 소속 기획자이죠.
p 저희는 비속어, 욕설, 공격적인 언어 사용을 줄일 수 있는 시스템을 개발하고자 했습니다. 말씀드린 것처럼 제재는 개선을 이끌어낼 수 있어야 하기 때문에 입이 걸걸한 플레이어의 채팅을 단순히 차단하는 것으론 증상에 대처할 수 있을 뿐, 플레이어가 교훈을 얻어 의사소통 기술을 개선할 수 있도록 하는 해결책은 될 수 없습니다. 저희는 여러 방식을 테스트해본 후 채팅 제한을 채택했습니다. 플레이어가 팀원 전체에게 보낼 수 있는 게임 당 채팅 메시지의 수를 제한하는 시스템이죠.
p 보낼 수 있는 메시지 수를 제한하면 채팅은 한정된 자원이 됩니다. 이 제한된 메시지 ‘탄약’을 갱킹(*)을 조율하는 팀원과의 유용한 소통에 활용할지, 뒤처진 팀원에게 화를 내는 데 허비할지 선택해야 합니다. 플레이어가 자원의 딜레마를 겪으며 도덕적인 판단을 내리도록 하는 것입니다.
p 대부분의 플레이어는 게임에서 이기고 싶어하기 때문에, 팀원과의 유용한 소통과 공격적인 언어 사용 중 어느 것이 더 나은 선택인지는 명백합니다. 그래서 채팅 제한이 적용된 플레이어는 대부분의 경우 비매너 채팅을 하는 경우가 크게 줄어들게 되죠. 또 많은 플레이어는 긍정적인 채팅 매너로 승률까지 오른다는 것을 깨닫게 됩니다. 이 때문에 자신에게 채팅 제한을 영구적으로 적용해 달라고 요청하는 플레이어까지 있었습니다. 예전의 사전/사후 이용 정지 중심의 전략에 비교하면, 채팅 제한과 이용 정지를 함께 활용하는 새로운 시스템으로 플레이 매너가 개선되는 경우가 40%나 증가했죠.
h3 왜 리그 오브 레전드가 계속해서 더 나아질 거라고 믿나요?
p 현재 리그 오브 레전드의 탈주 및 자리 비움 관련 통계는 사상 최저치를 기록하고 있으며, 플레이어 커뮤니티의 소환사 여러분께선 차별적인 언어에도 단호한 거부를 보여주고 계십니다. 누적 계산하면, 지나친 비속어나 욕설, 차별적 언어가 사용되는 경우는 전 세계에서 진행되는 모든 게임의 2%에 불과합니다.
p 물론 게임 매너 개선을 위해선 앞으로 할 일이 많습니다. 통계적으로 적다고 해서 게임에서 비매너 행위를 당했을 때의 고통과 실망이 누그러지는 것은 아니니까요. 부정적인 경험은 긍정적인 경험과는 다른 의미에서 강렬하게 남는다는 것도 저희는 잘 알고 있습니다.
p 앞으로는 훈훈한 매너 플레이가 펼쳐지기 더 쉬운 환경을 만들기 위해 노력할 계획입니다. 또한, 추천 플레이어 기능을 확대하고 파티 보상 같은 신규 기능을 도입하여 친구들과 함께 플레이하기 더 편리하도록 할 것입니다. 더욱 매너 좋은 정의의 전장을 만들기 위해 소환사 여러분과 함께 앞으로도 계속해서 노력해 나가겠습니다.
p 정의의 전장에서 승리를 기원합니다!
h1 선물하기 기능 조건 완화 안내
p 그 동안 선물하기 기능에 적용된 각종 제한과 조건들을 완화했으면 좋겠다는 플레이어 여러분의 다양한 의견이 있었습니다. 그 결과, 아래와 같이 선물하기의 조건을 완화하기로 결정했으며, 아래와 같이 현재 적용되고 있습니다.
table.table
    thead
        tr
            td 콘텐츠 선물하기 (스킨, 챔피언, 룬 페이지, 소환사 아이콘, 와드 스킨, 수수께끼 선물)
            td 변경 전 
            td 변경 후
    tbody
        tr
            td 선물을 보내는 계정의 소환사 레벨 제한
            td 15레벨
            td 10레벨
        tr
            td 선물을 받는 계정의 소환사 레벨 제한
            td 5레벨
            td 1레벨
        tr
            td 하루에 보낼 수 있는 선물의 최대 개수
            td 5개
            td 10개
        tr
            td 하루에 받을 수 있는 선물의 최대 개수
            td 5개
            td 10개
        tr
            td 선물을 주고 받을 수 있는 친구 등록 기간
            td 1일
            td 변경 없음
        tr
            td 게임 이용 제한 및 계정 정지 시 선물하기 기능 이용 여부
            td 불가
            td 변경 없음
table.table
    thead
        tr
            td RP 선물하기
            td 변경 전
            td 변경 후
    tbody
        tr
            td RP를 받는 계정의 소환사 레벨
            td 10레벨
            td 1레벨
        tr
            td RP를 보내는 계정의 소환사 레벨 제한
            td 20레벨
            td 15레벨
        tr
            td 매 24시간 마다 보낼 수 있는 RP선물의 최대 개수
            td 3개
            td 5개
        tr
            td 매 24시간 마다 받을 수 있는 RP선물의 최대 개수
            td 3개
            td 5개
        tr
            td RP 선물을 주고 받을 수 있는 친구 등록 기간
            td 1일
            td 변경 없음
        tr
            td 게임 이용 제한 및 계정 정지 시 RP 선물하기 기능 이용 여부
            td 불가
            td 변경 없음
