extends index

block fetched
    script.
        $.get(window.location.origin + "/fetch", {region: "#{region}", sumName: "#{sumName}"}).success(function(d){ $("#blockData").empty().append(d); }).done( function(d){$("#searchIcon i").prop("class", "fa fa-search").removeClass("fa-spin"); });
        
