extends index_legacy

block fetched
    script.
        var origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
        $.get(origin + "/fetch", {region: "#{region}", sumName: "#{sumName}"}).success(function(d){ $("#blockData").empty().append(d); }).done( function(d){$("#searchIcon i").prop("class", "fa fa-search").removeClass("fa-spin"); });
