div.row
    div.col-xs-2
    div.col-xs-8
        include adv
    div.col-xs-2
if(!unfound)
    div#fb-root
    script(type="text/javascript" src="/js/fb.js")
    div.btn-group-vertical(style="position:fixed; left:0%; top:10%; z-index:20000; opacity:0.5" id="controls")
        button.btn.btn-lg(type="button" id="goTop")
            i.fa.fa-arrow-up
        button.btn.btn-default.btn-lg(type="button" data-toggle="modal" data-target="#verify" id="verifyBtn")
            i.fa.fa-comment
    div.row
        div.col-xs-12
            div.panel.panel-info
                div.panel-heading
                    h4(id="nameHeading" style="margin:auto")=name
                ul.list-group
                    li.list-group-item(id="sumLevel")
                        h4(style="margin:auto")=t("global.summonerLevel")
                        h3(style="margin:auto")=summonerLevel
                    li.list-group-item.rankedData
                        div.row
                            div.col-xs-4
                                div.panel.panel-warning(id="RANKED_TEAM_3x3")
                                    div.panel-heading
                                        h4(style="margin:auto")=t("gameType.RANKED_TEAM_3x3")
                                    ul.list-group
                                        li.list-group-item(id="division")
                                            img(src="/img/medals/default.png" width="128px")
                                            h6(style="margin:auto") UNRANKED
                                        li.list-group-item(id="lp") --
                                        li.list-group-item.hidden(id="miniSeries")
                            div.col-xs-4
                                div.panel.panel-primary(id="RANKED_SOLO_5x5")
                                    div.panel-heading
                                        h4(style="margin:auto")=t("gameType.RANKED_SOLO_5x5")
                                    ul.list-group
                                        li.list-group-item(id="division")
                                            img(src="/img/medals/default.png" width="128px")
                                            h6(style="margin:auto") UNRANKED
                                        li.list-group-item(id="lp") --
                                        li.list-group-item.hidden(id="miniSeries")
                                    div.panel-footer
                                        h6(style="margin:auto")
                                            span.rightDom .im
                                            span.leftDom   Rate
                                        span(id="fanseRate")
                            div.col-xs-4
                                div.panel.panel-warning(id="RANKED_TEAM_5x5")
                                    div.panel-heading
                                        h4(style="margin:auto")=t("gameType.RANKED_TEAM_5x5")
                                    ul.list-group
                                        li.list-group-item(id="division")
                                            img(src="/img/medals/default.png" width="128px")
                                            h6(style="margin:auto") UNRANKED
                                        li.list-group-item(id="lp")
                                        li.list-group-item.hidden(id="miniSeries")
                        button.btn.btn-lg.btn-success(type="button" id="spec" name="spec" value="true" formaction="/spectate")
                            i.fa.fa-video-camera
                            span
                            span=t("global.spectate")
                    li.list-group-item.hidden(id="specBody")
                        div.row
                            div.col-xs-12.col-sm-12.col-md-5.col-lg-5
                                table.table.table-hover(id="currentGame100")
                                    tbody(style="background-color:#89C4F4")
                            div.col-xs-12.col-sm-12.col-md-2.col-lg-2
                                h3(id="vs")
                            div.col-xs-12.col-sm-12.col-md-5.col-lg-5
                                table.table.table-hover(id="currentGame200")
                                    tbody(style="background-color:#BE90D4")
                        div.row
                            a.btn.btn-lg.btn-warning(id="downloadSpec")
                                i.fa.fa-download
        div.col-sm-1.col-md-1.col-lg-2
    div.row
        div.col-xs-12
            div.well.hidden(id="currentStatus")
                div.row
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        img(id="profileIcon")
                        h4=value
                    div.col-xs-8.col-sm-8.col-md-8.col-lg-8(id="statusMsg")
        div.col-xs-12(style="padding-bottom:3%")
            if name != undefined && name != ""
                button.btn.btn-lg.btn-default(type="button" data-toggle="modal" data-target="#verify" id="updateBtn")
                    span.fa.fa-comment
                    span=" "
                    span=t("global.statusUpdate")
    span(id="title1")
    div.row
        div.col-xs-12#fb-btn
    div.row
        div.col-md-2
            include adv
        div.col-md-8
            ul.nav.nav-tabs(id="historyPane")
                li(style="width:33%")
                    a(href="#recents")=t("gameType.RECENT_GAMES")
                li(style="width:33%")
                    a(href="#history")=t("gameType.RANKED_SOLO")
                li(style="width:34%")
                    a(href="#team")=t("gameType.RANKED_TEAM")
            div.tab-content
                div.tab-pane(id="recents")
                    div.panel-group(id="recentGroup" role="tablist" aria-multiselectable="true")
                    button.btn.btn-default(id="getRecentBtn" style="width:100%")
                        i.fa.fa-refresh
                div.tab-pane(id="history")
                    div.panel-group(id="historyGroup" role="tablist" aria-multiselectable="true")
                    button.btn.btn-default(id="moreHistory" style="width:100%")
                        i.fa.fa-chevron-down
                div.tab-pane(id="team")
                    div.panel-group(id="teamGroup" role="tablist" aria-multiselectable="true")
                    button.btn.btn-default(id="moreTeam" style="width:100%")
                        i.fa.fa-chevron-down
        div.col-md-2
            include adv
    //div.modal.fade(id="matchinfo" tabindex="-1" role="dialog" aria-labelledby="matchname" aria-hidden="true")
        div.modal-dialog.modal-lg
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal")
                        span(aria-hidden="true") &times;
                    h4(id="matchname")
                div.modal-body(id="matchBody")
                    div.row
                        div.col-md-12.col-lg-12
                            h5(id="gameType")
                        div.col-md-5.col-lg-5
                            table.table.table-hover.table-condensed(id="team100")
                                tbody
                        div.col-md-2.col-lg-2
                            h3 VS.
                        div.col-md-5.col-lg-5
                            table.table.table-hover.table-condensed(id="team200")
                                tbody
                div.modal-footer(aria-hidden="true")
                    button.btn.btn-lg.btn-danger(type="button" data-dismiss="modal")=t("global.close")
    div.modal.fade(id="verify" tabindex="-1" role="dialog" aria-labelledby="verifyName" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal")
                        span(aria-hidden="true") &times;
                    h4(id="verifyName")=t("global.statusUpdate")
                div.modal-body
                    div.container-fluid
                        div.row
                            div.col-md-2.col-lg-2
                            div.col-xs-12.col-sm-12.col-md-8.col-lg-8(id="ver_body")
                                form.form-signin(id="ver_form")
                                    input.form-control(type="text" id="ver_username" required autofocus)
                                    <br>
                                    input.form-control(type="password" id="ver_pw" class="form-control" required)
                                    <br>
                                    textarea.form-control(rows="3" id="ver_status" required maxlength="300")
                                    <br>
                                    button.btn.btn-lg.btn-primary.btn-block(type="submit" id="ver_auth")
                                        span.fa.fa-key
                                        span UPDATE
                            div.col-md-2.col-lg-2
                div.modal-footer(aria-hidden="true")
                    button.btn.btn-lg.btn-danger(type="button" data-dismiss="modal")=t("global.close")
    div.row
        include match_history
    script(type='text/javascript').
        $('#historyPane a').click(function (e) { e.preventDefault(); $(this).tab('show'); });
        var summonerId = "#{id}";
        var summonerName = "#{name}";
        var summonerLevel = "#{summonerLevel}";
        if (summonerLevel < 30) {
            $(".rankedData").addClass("hidden");
        }
        var pIcon = "#{profileIconId}";
        $("#summonersearch").val(summonerName);
        $(document).prop('title', "MMR.im ! " + summonerName);
    script(src="/js/league/q.js")
else
    div.row
        div.col-md-2
            include adv
        div.col-md-8
            div.panel.panel-danger
                div.panel-heading
                    h4=t("global.notFound")
                div.panel-body
                    h4=t("global.searchAgain")
        div.col-md-2
            include adv
        script(type='text/javascript').
            $(document).prop('title', 'MMR.im <->');

