table.table
    thead
        tr
            td
                i.fa.fa-trophy
            td=t("global.summonerName")
            td LP
            td
                span.fa.fa-thumbs-up(style="color:green")
                span  / 
                span.fa.fa-thumbs-down(style="color:red")
    tbody
        -   for (var x = lst.length - 1; x >= 0; --x)
            tr
                td=lst.length - x
                td
                    - var name = lst[x]["playerOrTeamName"]
                    - var enc = encodeURIComponent(name)
                    a.sumLink(href="/fetchPage?region=#{region}&sumName=#{enc}" target="_blank")=name 
                td=lst[x]["leaguePoints"]
                td
                    span(style="color:green")
                        span=lst[x]["wins"]
                        i.fa.fa-thumbs-up
                    span(style="color:red")
                        span=lst[x]["losses"]
                        i.fa.fa-thumbs-down
                        
                

    

