div(role="tabpanel")
    ul.nav.nav-tabs(role="tablist" id="fametabs")
        li.active(role="presentation" style="width:50%")
            a(href="#challenger-list" aria-controls="challenger-list" role="tab" data-toggle="tab")
                img(src="/img/medals/CHALLENGER I.png")
                span CHALLENGER
        li(role="presentation" style="width:50%")
            a(href="#master-list" aria-controls="master-list" role="tab" data-toggle="tab")
                img(src="/img/medals/MASTER I.png")
                span MASTER
    div.tab-content
        div(role="tabpanel" class="tab-pane active" id="challenger-list")
        div(role="tabpanel" class="tab-pane active" id="master-list")


