extends layout

block content
    div.text-center(style="padding-bottom:15%")
        span(id="puller")
            div.row(style="padding-top:5%")
                div.col-md-4.col-lg-4
                div.col-xs-12.col-sm-12.col-md-4.col-lg-4
                    h1(id="siteName" style="font-size:72px;font-weight:700")
                        //span.leftDom mmr
                        //span.rightDom .im
                    img.img-responsive#logo-img(src="/img/logo_.png" width="100%" style="padding-top:5%")
                    //
                        a#courtesy(href="/fetchPage?region=kr&sumName=%EC%A4%80%EC%84%B1%EA%B3%B5%EB%93%80" target="_blank")
                        h6 Logo Design by Jun Sung PARK
                    h3
                        i.fa.fa-search
                        span=" LoL " + t("global.summoner") + " " + t("global.search") + " "
                        i.fa.fa-cogs
                div.col-md-4.col-lg-4
            div.row
                div.col-md-3.col-lg-3
                div.col-xs-12.col-sm-12.col-md-6.col-lg-6
                    .panel.panel-warning
                        .panel-heading
                            h3.panel-title
                                i.fa.fa-rocket
                                |  
                                span.leftDom MMR
                                span.rightDom .im 
                                span=t("project.x")
                        .panel-body
                            a.btn.btn-primary(href="//x.mmr.im" target="_blank") x.mmr.im
                            h6 LoL News / Comics / Information
                            h6 LoL 뉴스 / 만화 / 정보
                div.col-md-3.col-lg-3
            div.row
                div.col-md-3.col-lg-3
                div.col-xs-12.col-sm-12.col-md-6.col-lg-6(style="padding-top: 0px; padding-bottom: 30px; padding-left:40px; padding-right:40px")
                    form(role="search" id="summonerform")
                        div.form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12
                            div.input-group
                                input.form-control(id="summonersearch" type="search" name="sumName" autocomplete="off")
                                span.input-group-btn
                                    button.btn.btn-default(type="submit" role="search" id="searchBtn")
                                        span(id="searchIcon")
                                            i.fa.fa-search
                            <br>
                            span(style="font-size:20px; margin-right:1em" data-i18n="global.region")
                            span(style="font-size:20px; margin-right:0.1em")
                            select.form-control(name="region" id="regions" style="font-size:20px;width:80%;display:inline;padding:0px")
                                option(value="na" id="na" data-i18n="regions.na") North America
                                option(value="euw" id="euw" data-i18n="regions.euw") Europe West
                                option(value="eune" id="eune" data-i18n="regions.eune") Europe Nordic & East
                                option(value="br" id="br" data-i18n="regions.br") Brazil
                                option(value="kr" id="kr" data-i18n="regions.kr" selected="true") Korea
                                option(value="lan" id="lan" data-i18n="regions.lan") Latin America North
                                option(value="las" id="las" data-i18n="regions.las") Latin America South
                                option(value="oce" id="oce" data-i18n="regions.oce") Oceania
                                option(value="ru" id="ru" data-i18n="regions.ru") Russia
                                option(value="tr" id="tr" data-i18n="regions.tr") Turkey
                div.col-md-3.col-lg-3
            div.row
                div.col-md-2.col-lg-3
                div.col-xs-12.col-sm-12.col-md-8.col-lg-6
                    include adv
                div.col-md-2.col-lg-3
        script(type='text/javascript').
            if ($.QueryString("region"))
            {
                $("#" + $.QueryString("region")).prop("selected", "true");
            }
            else if($.cookie("region"))
            {
                $("#" + $.cookie("region")).prop("selected", "true");
            } else
            {
                $.getJSON("https://freegeoip.net/json/", function(result){
                    $("#" + result.country_code.toLowerCase()).prop("selected", "true");
                    $.cookie("region", $("#regions").val());
                    window.location.reload();
                });
            }
            i18n.init({lng : $.cookie('i18next') ? $.cookie('i18next') : navigator.language.substring(0,2) },function(t) {
                $("html").i18n();
                $("#summonersearch").prop("placeholder", i18n.t("global.search"));
                var appName = t("app.name");
            });
            $(".main").bounceThis({
                bounceHeight  : '30px',
                dropDownSpeed : 175,
                delay         : 0
            });
        span(id="blockData")
            block fetched
            if(frontPage == true)
                div.row
                    div.col-md-3.col-lg-3
                    div.col-xs-12.col-sm-12.col-md-6.col-lg-6
                    div.col-md-3.col-lg-3
                h3=t("global.freeRotation")
                div.row
                    div.hidden-xs.hidden-sm.col-md-2.col-lg-2
                    div.col-xs-12.col-sm-12.col-md-8.col-lg-8
                        div.row(id="freeRots")
                        div.row
                            div.col-xs-3.col-sm-3.col-md-3.col-lg-3
                            div.col-xs-6.col-sm-6.col-md-6.col-lg-6
                            div.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    div.hidden-xs.hidden-sm.col-md-2.col-lg-2
                div.row
                    div.hidden-xs.hidden-sm.col-md-2.col-lg-2
                    div.col-xs-12.col-sm-12.col-md-8.col-lg-8
                        //include article
                    div.hidden-xs.hidden-sm.col-md-2.col-lg-2
                h3=t("global.hallOfFame")
                div.row
                    div.hidden-xs.hidden-sm.col-md-2.col-lg-2
                    div.col-xs-12.col-sm-12.col-md-8.col-lg-8
                        img(src="/img/medals/CHALLENGER I.png" width="96px")
                        span(id="hallOfFame")
                    div.hidden-xs.hidden-sm.col-md-2.col-lg-2
                div.row
                    div.col-md-1.col-lg-1
                    div.col-xs-12.col-sm-12.col-md-10.col-lg-10
                        h3
                            i.fa.fa-cog.fa-spin(style="color:#0066CC")
                            span=" " + t("strings.comingSoon") + " "
                            i.fa.fa-cog.fa-spin(style="color:#0066CC")
                    div.col-md-1.col-lg-1
                    div.col-xs-12.col-sm-12.col-md-4.col-lg-4
                        //h3
                            span(style="font-variant:small-caps") Fanse
                            i.fa.fa-twitch
                            <br>
                            img(src="/img/twitch.png") 
                    div.col-xs-12.col-sm-12.col-md-4.col-lg-4
                        h3
                            span.leftDom mmr
                            span.rightDom share
                            <br>
                            i.fa.fa-share-alt(style="padding-right:2%")
                            i.fa.fa-facebook-square(style="padding-right:2%")
                            i.fa.fa-google-plus(style="padding-right:2%")
                            i.fa.fa-twitter-square(style="padding-right:2%")
                            i.fa.fa-vk(style="padding-right:2%")
                    div.col-xs-12.col-sm-12.col-md-4.col-lg-4
                        
                script(type="text/javascript").
                    var anim = 
                    function(){
                        $("#flaskIcon")
                        .animate({color: "#9999CC"}, 150)
                        .animate({color: "#330066"}, 150)
                        .animate({color: "#660099"}, 150)
                        .animate({color: "#9900CC"}, 150)
                        .animate({color: "#9933FF"}, 150)
                        .animate({color: "#9966FF"}, 150)
                        .animate({color: "#9999FF"}, 150)
                        .animate({color: "#CCCCFF"}, 150);
                    };
                    setInterval(anim, 1200);
                script(type="text/javascript").
                    var championUrl = "https://ddragon.leagueoflegends.com/cdn/5.6.2/img/champion/";
                    function craft(url, data)
                    {
                        return "url('" + url + data + "')";
                    }
                    var reg = $("#regions").val();
                    $.get(window.location.origin + '/freeRotation?region=' + reg).success(function(d) { 
                        var colPt = $("<div>").addClass("col-xs-4 col-sm-3 col-md-2 col-lg-2");
                        var cList = d.cList;
                        for (var i = 0; i < cList.length; ++i)
                        {
                            var champ = cList[i];
                            var dataCol = colPt.clone();
                            var panelPt = $("<div>").addClass("panel panel-primary")
                                                .append($("<div>").addClass("panel-heading")
                                                .append($("<h3>").addClass("panel-title")
                                                .append(champ.name)
                                                ));
                            var panelBody = $("<div>").addClass("panel-body");
                            var cImg = $(document.createElement("span"))
                                .css("height","48px").css("width","48px").css("display","inline-block")
                                .css("background", craft(championUrl, champ.image.full)).css("background-size", "48px 48px");
                            panelBody.append(cImg);
                            panelPt.append(panelBody);
                            dataCol.append(panelPt);
                            $("#freeRots").append(dataCol);
                        }
                    }).fail(function(d) {
                        $("#freeRots").append($("<p>").html(i18n.t("notif.unavailable")));
                    });
                script(type="text/javascript" src="/js/league/hallOfFame.js")
        script(src="/js/logo.js")
        script(type="text/javascript").
            $("#summonerform").submit(function(e) {
                e.preventDefault();
                $("#spin").show();
                NProgress.start();
                $("#searchIcon i").prop("class", "fa fa-cog fa-spin"); 
                $.get(window.location.origin + "/fetch", $('#summonerform').serialize()).success(function(d){ $("#blockData").empty().append(d); }).done( function(d){$("#searchIcon i").prop("class", "fa fa-search").removeClass("fa-spin"); });
            });
            var sumNames = new Bloodhound({
                datumTokenizer: function (data) {
                    var x = Bloodhound.tokenizers.whitespace(data.curr);
                    var y = Bloodhound.tokenizers.whitespace(data.prev);
                    var z = [data.curr.split(" ").join(""), data.prev.split(" ").join("")];
                    return z;
                },
                prefetch: {
                    url: window.location.origin + "/dat?region=" + $('#regions').val(),
                    ttl: 36000
                },
                queryTokenizer: function (data) {
                    z = [data.split(" ").join("")];
                    return z;
                }
            });
            sumNames.initialize();
            console.log(sumNames);
            $('#summonersearch').typeahead(null, {
                name: 'sumNames',
                displayKey: 'curr',
                source: sumNames.ttAdapter(),
                hint : true,
                highlight : true,
                templates :
                {
                    suggestion : Handlebars.compile("<span class='twitter-typeahead tt-suggestion'><p>{{curr}}"
                    +
                    "<span id ='prevname' style='padding-left:150px; text-slign:right; color: #b2b2b2;font-size:12px'>{{prev}}</span></p></span>")
                }
            });
            $("#regions").change(function(data){ $.cookie("region", $("#regions").val()); location.href = location.origin; });
