extends layout_legacy

block content
    div.text-center(style="padding-bottom:15%")
        span(id="puller")
            div.row(style="padding-top:-5%")
                div.col-md-4.col-lg-4
                div.col-md-4.col-lg-4
                    h1(id="siteName" style="font-size:72px")
                        //span.leftDom mmr
                        //span.rightDom .im
                    img.img-responsive#logo-img(src="/img/logo_.png" width="100%" style="padding-top:5%")
                    //
                        a#courtesy(href="/fetchPage?region=kr&sumName=%EC%A4%80%EC%84%B1%EA%B3%B5%EB%93%80" target="_blank")
                        h6 Logo Design by Jun Sung PARK
                    h3
                        i.fa.fa-search
                        span=" LoL " + t("global.summoner") + " " + t("global.search") + " "
                        i.fa.fa-cogs
                div.col-md-4.col-lg-4
            div.row
                div.col-md-3.col-lg-3
                div.col-xs-12.col-sm-12.col-md-6.col-lg-6
                    .panel.panel-warning
                        .panel-heading
                            h3.panel-title
                                i.fa.fa-rocket
                                |  
                                span.leftDom MMR
                                span.rightDom .im 
                                span=t("project.x")
                        .panel-body
                            a.btn.btn-primary(href="//x.mmr.im" target="_blank") x.mmr.im
                            h6 LoL News / Comics / Information
                            h6 LoL 뉴스 / 만화 / 정보
            div.row
                div.col-xs-2
                div.col-xs-8(style="padding-top: 0px; padding-bottom: 30px; padding-left:40px; padding-right:40px")
                    form(role="search" id="summonerform")
                        div.form-group.col-xs-12
                            div.input-group
                                input.form-control(id="summonersearch" type="search" name="sumName" autocomplete="off")
                                span.input-group-btn
                                    button.btn(type="submit" id="searchBtn")
                                        span(id="searchIcon")
                                            i.fa.fa-search
                            <br>
                            label(for="regions" style="font-size:20px; margin-right:1em" data-i18n="global.region") Region:
                            span(style="font-size:20px; margin-right:0.1em")
                            select(name="region" id="regions" style="font-size:20px")
                                option(value="na" id="na" data-i18n="regions.na") North America
                                option(value="euw" id="euw" data-i18n="regions.euw") Europe West
                                option(value="eune" id="eune" data-i18n="regions.eune") Europe Nordic & East
                                option(value="br" id="br" data-i18n="regions.br") Brazil
                                option(value="kr" id="kr" data-i18n="regions.kr" selected="true") Korea
                                option(value="lan" id="lan" data-i18n="regions.lan") Latin America North
                                option(value="las" id="las" data-i18n="regions.las") Latin America South
                                option(value="oce" id="oce" data-i18n="regions.oce") Oceania
                                option(value="ru" id="ru" data-i18n="regions.ru") Russia
                                option(value="tr" id="tr" data-i18n="regions.tr") Turkey
                div.col-xs-2
            div.row
                div.col-xs-2
                div.col-xs-8
                    include adv
                div.col-xs-2
        script(src="/js/logo.js")
        script(type='text/javascript').
            if ($.QueryString("region"))
            {
                $("#" + $.QueryString("region")).prop("selected", "true");
            }
            else if($.cookie("region"))
            {
                $("#" + $.cookie("region")).prop("selected", "true");
            } else
            {
                $.getJSON("https://freegeoip.net/json/", function(result){
                    $("#" + result.country_code.toLowerCase()).prop("selected", "true");
                    $.cookie("region", $("#regions").val());
                    window.location.reload();
                });
            }
            
            $("#summonerform").submit(function(e) {
                e.preventDefault();
                $("#spin").show();
                NProgress.start();
                var origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
                $.get(origin + "/fetch", $('#summonerform').serialize()).success(function(d){ $("#blockData").empty().append(d); }).done( function(d){$("#searchIcon i").prop("class", "fa fa-search").removeClass("fa-spin"); });
            });
            i18n.init({lng : getCookie('i18next') ? getCookie('i18next') : navigator.browserLanguage.substring(0,2) },function(t) {
                $("html").i18n();
                $("#summonersearch").prop("placeholder", i18n.t("global.search")); var appName = t("app.name");
            });
        span(id="blockData")
            block fetched
            if(frontPage == true)
                div.row
                    div.col-xs-2
                    div.col-xs-8
                        
                    div.col-xs-2
                h3=t("global.freeRotation")
                div.row
                    div.col-xs-1
                    div.col-xs-10
                        div.row(id="freeRots")
                    div.col-lg-1
                h3=t("global.hallOfFame")
                div.row
                    div.col-xs-2
                    div.col-xs-8
                        img(src="/img/medals/CHALLENGER I.png" width="96px")
                        span(id="hallOfFame")
                    div.col-xs-2
                script(type="text/javascript").
                    var championUrl = "https://ddragon.leagueoflegends.com/cdn/5.6.2/img/champion/";
                    function craft(url, data)
                    {
                        return "url('" + url + data + "')";
                    }
                    var reg = $("#regions").val();
                    $.get(window.location.protocol + '//' + window.location.host + '/freeRotation?region=' + reg).success(function(d) { 
                        var colPt = $("<div>").addClass("col-xs-4 col-sm-3 col-md-2 col-lg-2");
                        var cList = d.cList;
                        for (var i = 0; i < cList.length; ++i)
                        {
                            var champ = cList[i];
                            var dataCol = colPt.clone();
                            var panelPt = $("<div>").addClass("panel panel-primary")
                                                .append($("<div>").addClass("panel-heading")
                                                .append($("<h3>").addClass("panel-title")
                                                .append(champ.name)
                                                ));
                            var panelBody = $("<div>").addClass("panel-body");
                            var cImg = $("<img>")
                                .prop("src", championUrl + champ.image.full)
                                .css("width", "48px").css("height", "48px");
                            panelBody.append(cImg);
                            panelPt.append(panelBody);
                            dataCol.append(panelPt);
                            $("#freeRots").append(dataCol);
                        }
                    }).fail(function(d) {
                        $("#freeRots").append($("<p>").html(i18n.t("notif.unavailable")));
                    });
                    $("#regions").change(function(data){ $.cookie("region", $("#regions").val()); });
                script(type="text/javascript" src="/js/league/hallOfFame.js")
        
