doctype html
html
    head
        title=title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="description" content="League of Legends Summoner Search by MMR.im")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        script(type='text/javascript' src='/js/vendor/html5shiv.js')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/normalize.css')
        link(rel='stylesheet', href='/css/nprogress.css')
        link(rel='stylesheet', href='/css/placeholder.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/typeaheadjs.css')
        //link(rel='stylesheet', href='/css/bootflat.min.css')
        link(rel='stylesheet', href='/css/pnotify.custom.min.css')
        link(rel='stylesheet', href='/css/xpull.css')
        link(rel='stylesheet', href='/owl-carousel/owl.carousel.css')
        link(rel='stylesheet', href='/owl-carousel/owl.theme.css')
        link(rel='stylesheet', href='/lol/img/sprite.css')
        link(rel='stylesheet', href='/css/spinner.min.css')
        link(rel='stylesheet', href='/css/logo.css')
        script(type='text/javascript' src='/js/vendor/modernizr.js')
        script(type='text/javascript' src='/js/vendor/fastclick.js')
        script(type='text/javascript' src='/js/vendor/jquery-1.11.2.min.js')
        script(type='text/javascript' src='/js/vendor/jquery-ui.min.js')
        script(type='text/javascript' src='/js/vendor/jquery.cookie.js')
        script(type='text/javascript' src='/js/bootstrap.min.js')
        script(type='text/javascript' src='/js/vendor/pnotify.custom.min.js')
        script(type='text/javascript' src='/js/vendor/querystring-0.9.0-min.js')
        script(type='text/javascript' src='/js/nprogress.js')
        script(type='text/javascript' src='/js/vendor/bouncethis.js')
        script(type='text/javascript' src='/js/vendor/typeahead.bundle.js')
        script(type='text/javascript' src='/js/vendor/xpull.js')
        script(type='text/javascript' src='/owl-carousel/owl.carousel.min.js')
        script(src='/js/vendor/underscore-min.js')
        script(type="text/javascript" src="/js/i18next-1.8.0.min.js")
        script(type="text/javascript" src="/js/vendor/typeahead.bundle.min.js")
        script(type="text/javascript" src="/js/vendor/handlebars-v3.0.0.js")
        script(type="text/javascript" src="/js/vendor/d3.min.js")
        script(type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js")
    body(style="background-color:#eeeeee")
        script.
            Kakao.init('011abc9238f7373df0ca6dc9b58663a2');
        include nav
        div.loading-div#spin
            div.loading-container
                div.loading
                div#loading-text 
                    span.leftDom mmr
                    span.rightDom .im   
        div.container-fluid(id="top")            
            block content
        style.
            #top-link-block.affix-top {
                position: absolute; /* allows it to "slide" up into view */
                top: -10%;
                left: 80%;
            }

            #top-link-block.affix {
                position: fixed; /* keeps it on the bottom once in view */
                top: 10%;
                left: 80%;
            }
        
        footer.container-fluid.navbar-fixed-bottom.text-center
            h4(style="opacity:0.6;margin-bottom:-10px")
                span.leftDom mmr
                span.rightDom .im
            h6.text-muted Copyright (C) 2015 
                a(href="mailto:admin@mmr.im") admin@mmr.im
        script.
            if (($(window).height() + 100) < $(document).height()) {
                $('#top-link-block').removeClass('hidden').affix({
                    // how far to scroll down before link "slides" into view
                    offset: {top: 100}
                });
            }
            $(document).ready(function(){ /*transnotice();*/ $("#spin").hide(); });
        script(type='text/javascript' src='/js/ga.js')
