doctype html
html
    head
        title=title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="League of Legends Summoner Search by MMR.im")
        link(rel='stylesheet', href='//fonts.googleapis.com/earlyaccess/hanna.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/legacy/nonres.css')
        link(rel='stylesheet', href='/lol/img/sprite.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/nprogress.css')
        link(rel='stylesheet', href='/css/logo.css')
        script(type='text/javascript' src='/js/vendor/jquery-1.11.2.min.js')
        script(type='text/javascript' src='/js/bootstrap.min.js')
        script(type='text/javascript' src='/js/vendor/notify.min.js')
        script(type='text/javascript' src='/js/vendor/html5shiv.js')
        script(type='text/javascript' src='/js/vendor/respond.min.js')
        script(type='text/javascript' src='/js/vendor/fastclick.js')
        script(type='text/javascript' src='/js/jquery.cookie.js')
        script(type='text/javascript' src='/legacy/cookies.js')
        script(type='text/javascript' src='/js/vendor/querystring-0.9.0-min.js')
        script(src='/js/vendor/underscore-min.js')
        
        script(type='text/javascript' src='/js/nprogress.js')
        script(type="text/javascript" src="/js/i18next-1.8.0.min.js")

    body(style="background-color:#eeeeee")
        div.spinner(id="spin" style="display:none")
            img(id="img-spinner" src="/legacy/spinner.gif" alt="Loading")
        include nav_legacy
        div#fb-root
        div.container(id="top")
            block content
        footer.container.navbar-fixed-bottom.text-center
            h5.text-muted Copyright (C) 2015 
                a(href="mailto:admin@mmr.im") admin@mmr.im
        script(type='text/javascript' src='/js/ga.js')
