div.panel.panelProto.hidden
    div.panel-heading.summary(role="tab")
        table(width="100%")
            tr
                td(colspan="6")
                    p.queueType(style="font-weight:bold;font-size:14px")
            tr
                td(colspan="2")
                    img.cImg(src="//ddragon.leagueoflegends.com/cdn/5.6.2/img/champion/Bard.png",width="48px")
                    <br>
                    img.dImg(src="//ddragon.leagueoflegends.com/cdn/5.6.2/img/spell/SummonerHeal.png",width="24px")
                    img.fImg(src="//ddragon.leagueoflegends.com/cdn/5.6.2/img/spell/SummonerFlash.png",width="24px")
                td(colspan="4")
                    table(width="192px")
                        tr
                            td
                                img.i1(src="/img/empty_item.png",width="32px")
                            td
                                img.i2(src="/img/empty_item.png",width="32px")
                            td
                                img.i3(src="/img/empty_item.png",width="32px")
                                
                            td
                                img.i7(src="/img/empty_item.png",width="32px")
                        tr
                            td
                                img.i4(src="/img/empty_item.png",width="32px")
                            td
                                img.i5(src="/img/empty_item.png",width="32px")
                            td
                                img.i6(src="/img/empty_item.png",width="32px")
            tr
                td(colspan="2")
                    h6.lvl
                td(colspan="4")
                    span.label.label-success(style="border-color:#ffffff;border-style:solid") 
                        span.kills
                    span.label.label-danger(style="border-color:#ffffff;border-style:solid")
                        span.deaths
                    span.label.label-info(style="border-color:#ffffff;border-style:solid")
                        span.assts
                    span.label.label-primary(style="border-color:#ffffff;border-style:solid")
                        strong KDA:
                        span.kda
            tr
                td(colspan="2")
                    span.cs
                        span.fa.fa-bug
                        span.minions
                        | +
                        span.neutral
                        | =
                        span.totalMinions
                td(colspan="4")
                    span.label(style="background-color:#7A942E;border-color:#ffffff;border-style:solid")
                        span.fa.fa-eye
                        span.ward
                    span.label(style="background-color:#F62459;border-color:#ffffff;border-style:solid")
                        span.fa.fa-eye
                        span.vision
                    span.label(style="background-color:#006442;border-color:#ffffff;border-style:solid")
                        span.fa.fa-money
                        span.golds
        table(width="100%")
            tr
                td(colspan="1")
                    a.btn.btn-warning.timeline(data-toggle="collapse" data-parent="" href="" aria-expanded="false" style="width:100%")
                        i.fa.fa-clock-o
                td(colspan="1")
                    a.btn.btn-warning.expand(data-toggle="collapse" data-parent="" href="" aria-expanded="false" style="width:100%")
                        i.fa.fa-chevron-down
    div.panel-collapse.collapse(id="" role="tabpanel" loaded="false")
        ul.list-group.team100
        ul.list-group.team200
    div.panel-footer
        div.row.style(style="margin:-5px")
            span(style="margin-right:25%")
                span.startTime
            span
                span.duration
                
li.list-group-item.itemProto.hidden
    div.row
        div.col-xs-12.col-sm-6.col-md-6.col-lg-6(style="margin-bottom:-8px")
            h6(style="margin-top:-8px;")
                span.sumName(style="margin-right:5%;color:#333") SUM_NAME
                <br>
                <br>
                div
                    span.label.label-success(style="border-color:#ffffff;border-style:solid") 
                        span.kills
                    span.label.label-danger(style="border-color:#ffffff;border-style:solid")
                        span.deaths
                    span.label.label-info(style="border-color:#ffffff;border-style:solid") 
                        span.assts
                    span.label.label-primary(style="border-color:#ffffff;border-style:solid")
                        strong KDA:
                        span.kda
                <br>
                span.cs(style="color:#333")
                    span.fa.fa-bug
                    span.minions
                    | +
                    span.neutral
                    | =
                    span.totalMinions
                span(style="margin:10px 0px 0px 10px;color:#7A942E")
                    span.fa.fa-eye
                    span.ward
                span(style="margin:10px 0px 0px 10px;color:#F62459")
                    span.fa.fa-eye
                    span.vision
                span(style="margin:10px 0px 0px 10px;color:#006442")
                    span.fa.fa-money
                    span.golds
        div.col-xs-12.col-sm-6.col-md-6.col-lg-6(style="margin-bottom:-8px")
            table(width="300px")
                tr
                    td
                        table(width="45px")
                            tr
                                td
                                    img.cImg(src="//ddragon.leagueoflegends.com/cdn/5.6.2/img/champion/Bard.png",width="48px")
                                td
                                    img.dImg(src="//ddragon.leagueoflegends.com/cdn/5.6.2/img/spell/SummonerHeal.png",width="24px")
                                    <br>
                                    img.fImg(src="//ddragon.leagueoflegends.com/cdn/5.6.2/img/spell/SummonerFlash.png",width="24px")
                                td
                                    span(style="margin-left:10px").lvl
                                    
                    td
                        table(width="120px")
                            tr
                                td
                                    img.i1(src="/img/empty_item.png",width="24px")
                                td
                                    img.i2(src="/img/empty_item.png",width="24px")
                                td
                                    img.i3(src="/img/empty_item.png",width="24px")
                                td
                                    img.i7(src="/img/empty_item.png",width="24px")
                            tr
                                td
                                    img.i4(src="/img/empty_item.png",width="24px")
                                td
                                    img.i5(src="/img/empty_item.png",width="24px")
                                td
                                    img.i6(src="/img/empty_item.png",width="24px")
