nav.navbar.navbar-inverse.navbar-fixed-top
    div.container
        div.navbar-header
            a.navbar-brand(href="./")
                span(style='font-weight:bold') .im
        div(id="navbar")
            ul.nav.navbar-nav
                li.dropdown
                    a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="text-align:right")
                        span.fa.fa-globe
                    ul.dropdown-menu(role="menu" style="text-align:right")
                            li
                                a(onclick="i18n.setLng('en')" href="") English
                            li
                                a(onclick="i18n.setLng('fr')" href="") Français
                            li
                                a(onclick="i18n.setLng('zh')" href="") 中文
                            li
                                a(onclick="i18n.setLng('ko')" href="") 한국어
                            li
                                a(onclick="i18n.setLng('ru')" href="") Русский
                //li
                    a(href="http://pro.fanse.me" target="_blank") Pro
