/**::-webkit-input-placeholder {
            font-family: 'Hanna';
        }

        :-moz-placeholder { /* Firefox 18- */
        /*    font-family: 'Hanna';
        }

        ::-moz-placeholder {  /* Firefox 19+ */
        /*   font-family: 'Hanna';
        }

        :-ms-input-placeholder {  
            font-family: 'Hanna';
        }
        */
