@font-face {
    font-family: 'NanumBarunGothic';
    src:    url('./fonts/NanumBarunGothic.eot');
    src:    url('./fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
            url('./fonts/NanumBarunGothic.woff') format('woff'),
            url('./fonts/NanumBarunGothic.ttf') format('truetype'),
            url('./fonts/NanumBarunGothic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}